@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  height: 17vh;
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.05);
  border-bottom: 3.5px solid rgb(255, 255, 255);
  border-radius: 70px;
  z-index: 100;
}

.logo {
  width: 4rem;
  height: 3rem;
  border-radius: 50%;
}

.social-call {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0px 5px;
  color: rgba(255, 255, 255, 0.877);
  font-size: 0.9rem;
}
.phone {
  color: rgba(255, 255, 255, 0.877);
  margin-left: 30px;
  font-size: 0.9rem;
}
.social a:hover {
  color: #00ffb3;
  transition: all ease 0.3s;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px;
}
.fix-nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.05);
  border-bottom: 3.5px solid rgb(255, 255, 255);
  border-radius: 0px 0px 70px 70px;
  z-index: 100;
}
.checkbtn {
  position: absolute;
  right: 40px;
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.logo img {
  height: 8rem;
  margin-left: -0.5rem;
  mix-blend-mode: multiply;
}
.menu {
  display: flex;
}
.menu li {
  position: relative;
  right: -94px;
  margin-left: 40px;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}
.menu li a {
  color: rgba(255, 255, 255, 0.877);
}

.menu li a.shop,
.menu li a.sale-lable {
  transform: scale(1);
  transition: 0.5s;
  display: block;
}

.menu li a.shop.hide-item,
.menu li a.sale-lable.hide-item {
  transform: scale(0);
}
.right-menu,
.search-box {
  position: relative;
  bottom: 0px;
}
.right-menu a {
  margin: 0 15px;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}
.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover {
  color: #00e9ca;
  transition: all ease 0.3s;
}
.sale-lable {
  width: 38px;
  height: 17px;
  background-color: #ff3a3a;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: -20px;
}
.sale-lable:after {
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-left: 3px solid transparent;
  border-top: 7px solid #f76b6a;
  border-right: 5px solid transparent;
  position: absolute;
  left: 10%;
  top: 100%;
}
.fa-shopping-cart {
  position: relative;
  color: rgb(255, 255, 255);
  visibility: visible;
}

.fa-user {
  color: rgb(255, 255, 255);
  visibility: visible;
}

/* Search box */
.search-box {
  position: relative;
  height: 60px;
  width: 60px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  right: -12px;
}
.search-box.active {
  width: 350px;
  left: 25px;
}

.search-box input {
  position: absolute;
  right: -30px;
  height: 90%;
  width: 85%;
  border: none;
  outline: none;
  font-size: 17px;
  color: rgba(27, 27, 27, 0.7);
  background: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 0 60px 0 20px;
  opacity: 0;
}
.search-box input.active {
  opacity: 1;
  transform: translateY(6%) translateX(-8%);
}

.search-box .search {
  position: absolute;
  right: -6rem;
  transform: translateY(-58%) translateX(50%);
  z-index: 1;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  visibility: visible;
}

.search-box .search:hover {
  color: #00ffb3;
}

.search-box .search.active {
  right: -22px;
  height: 45px;
  width: 45px;
  color: rgb(48, 48, 48);
  background: #e2e2e2;
  line-height: 50px;
  font-size: 20px;
  transform: translateY(-50%) translateX(8%) rotate(360deg);
  visibility: hidden;
}

.search-box .cancel-btn {
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-45%);
  color: rgb(61, 61, 61);
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
}

.search-box .cancel-btn.active {
  top: 50%;
  right: -25px;
  transform: translateY(-45%) translateX(-40px) rotate(360deg);
  color: rgb(51, 51, 51);
  visibility: visible;
}

/* Banner1 */
.banner {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-pic img {
  position: relative;
  right: -30%;
  height: auto;
  width: 100%;
}

.banner-text-container {
  position: relative;
  display: inline-block;
  right: 65%;
  bottom: -15%;
  width: 100%;
  height: 100%;
}

.banner-text {
  position: relative;
  color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  margin-right: auto;
  right: -150px;
  width: 150%;
}

.banner-text strong {
  font-size: 1.1rem;
  line-height: 55px;
  margin-top: 15px;
  letter-spacing: 1px;
}

.banner-text span {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: bolder;
  color: #929292;
  font-size: 1.4rem;
}

/* PROMOTION  */
.section {
  padding: 2rem 0 5rem 0;
}

.section .title {
  text-align: center;
  margin-bottom: 6rem;
}

.section .title hr {
  position: relative;
  background-color: white;
  width: 33%;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  border-radius: 20px;
}

.section .title h2 {
  position: relative;
  text-transform: uppercase;
  right: 10px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.section .title span {
  display: flex;
  color: rgb(133, 133, 133);
  letter-spacing: 5px;
  font-size: 1.3rem;
  justify-content: center;
  text-align: center;
}

.promotion-layout {
  position: relative;
  width: 85%;
  right: -7%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.promotion-item {
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 90%;
  right: -10%;
  border-radius: 50px;
}

.promotion-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms ease-in-out;
}

.promotion-content {
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: rgb(44, 44, 44);
  text-align: center;
  z-index: 3;
  /* overflow: hidden; */
}

.promotion-content h3 {
  background-color: rgba(51, 51, 51, 0.8);
  color: #ffe341;
  border-radius: 6rem;
  padding: 0.5rem 1.1rem;
  font-size: 1.4rem;
  font-weight: inherit;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}
.promotion-content span {
  /* background-color: rgba(224, 224, 224, 0.8); */
  border-radius: 6rem;
  padding: 0.5rem 1.3rem;
  font-size: 1.4rem;
  font-weight: inherit;
  transition: all 300ms ease-in-out;
}

.promotion-content a {
  color: rgb(238, 238, 238);
  transition: all 300ms ease-in-out;
  font-size: 1.1rem;
  cursor: pointer;
}

.promotion-item .popup-view {
  z-index: 4;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.promotion-item .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.promotion-item .popup-card {
  position: relative;
  display: flex;
  width: 900px;
  height: 350px;
  margin: 20px;
}

.promotion-item .popup-card .product-img {
  z-index: 2;
  /* background: #1d212b; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
}

.promotion-item .popup-card .product-img img {
  z-index: 2;
  position: relative;
  width: 410px;
  border-radius: 20px;
}

.promotion-item .popup-card .detail-info {
  z-index: 2;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 90px;
  border-radius: 5px;
}

.promotion-item .popup-card .close-btn {
  z-index: 3;
  color: #555;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.promotion-item .popup-card .detail-info h2 {
  font-size: 40px;
  line-height: 10px;
  margin-top: -20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.promotion-item .popup-card .detail-info p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 20px;
}

.promotion-item .popup-card .detail-info .visit-page {
  color: #fff;
  background: #15b5eb;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: 20px;
}
@media (max-width: 900px) {
  .promotion-item .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promotion-item .popup-card .product-img {
    z-index: 2;
    top: -25px;
    width: 70%;
    height: 200px;
    transform: translateY(10);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .promotion-item .popup-card .product-img img {
    left: initial;
    max-width: 100%;
  }
  .promotion-item .popup-card .detail-info {
    width: 70%;
    height: auto;
    padding: 40px;
    border-radius: 20px;
  }
  .promotion-item .popup-card .detail-info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .promotion-item .popup-card .detail-info p {
    margin: 5px;
    line-height: 22px;
    padding: 10px;
    font-size: 17px;
  }
  .promotion-item .popup-card .detail-info .visit-page {
    margin: 5px auto;
    padding: 10px 30px;
    font-size: 17px;
  }
  .promotion-item .popup-card .close-btn {
    z-index: 4;
    position: absolute;
    top: -10px;
    right: 75px;
  }
}

.promotion-content a:hover {
  color: rgb(60, 211, 166);
}

.promotion-item:hover .promotion-content h3 {
  background-color: white;
  color: black;
}

.promotion-item:hover .promotion-img {
  transform: scale(1.2);
}

.promotion-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.promotion-item:hover::after {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .promotion-content h3 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5rem;
    padding: 0.7rem 1.4rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 996px) {
  .promotion-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .promotion-layout {
    grid-template-columns: 1fr;
  }
}

/* Apple Product Slider */
.apple-title {
  padding: 2rem 0 5rem 0;
  text-align: center;
  margin-bottom: 6rem;
}

.apple-title hr {
  position: relative;
  background-color: white;
  width: 25%;
  height: 3.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  border-radius: 20px;
}
.apple-title h3 {
  position: relative;
  right: -1px;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.apple-title span {
  color: #ff3737;
  letter-spacing: 0.5rem;
}

.slider {
  position: relative;
  right: -20.5%;
  margin-top: -7%;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #afafaf;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #00ffb3;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #00ffb3;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #00ffb3;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #00ffb3;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #00ffb3;
}

.apple-btn {
  margin: 0;
  padding: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-btn a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #43ceb0;
  letter-spacing: 7px;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transition: 0.4s;
}

.apple-btn a:hover {
  color: #0f1111;
  background: #45e0bf;
  box-shadow: 0 0 10px #0b9d8a, 0 0 20px #0b9d8a, 0 0 30px #0b9d8a;
  transition-delay: 1s;
}

.apple-btn a span {
  position: absolute;
  display: block;
}

.apple-btn a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #45e0bf);
}

.apple-btn a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.apple-btn a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #45e0bf);
}

.apple-btn a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.apple-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #45e0bf);
}

.apple-btn a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.apple-btn a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #45e0bf);
}

.apple-btn a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* Offer Banner */
.offer-bn {
  width: 100%;
  height: 25vh;
}

.offer-bn img {
  position: relative;
  width: 100%;
  top: 80px;
  height: 350px;
}

/* Products */
.hot-sale {
  /* position: absolute; */
  padding: 5rem 0 5rem 0;
  text-align: center;
  margin-bottom: 6rem;
  transform: translateY(33%);
}

.hot-sale hr {
  position: relative;
  background-color: white;
  width: 25%;
  height: 3.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  border-radius: 20px;
}
.hot-sale h3 {
  position: relative;
  right: -1px;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 4.5rem;
  letter-spacing: 0.6rem;
}

.hot-sale span {
  color: #ff3737;
  letter-spacing: 0.5rem;
}
.box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.pslider {
  height: 450px;
  position: relative;
}

.pslider img {
  top: 20%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background: rgb(75, 75, 75);
}

.type {
  display: flex;
  flex-direction: column;
}

.type a {
  color: rgb(245, 245, 245);
  margin: 5px 0px;
  font-size: 15px;
  font-weight: 600;

  letter-spacing: 2.5px;
  padding-right: 8px;
  display: flex;
}

.type span {
  position: relative;
  color: rgb(223, 255, 134);
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: end;
  letter-spacing: 0;
}

.buy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(90, 236, 193, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  color: rgb(0, 122, 65);
  letter-spacing: 1.5px;
  box-shadow: 2px 2px 30px rgb(55, 161, 135);
}

.btn:hover {
  color: #34be8c;
  background-color: #1e4f5b;
  transition: all ease 0.3s;
}

.buy {
  visibility: hidden;
}

.pslider:hover .buy {
  visibility: visible;
  animation: fadeimage 0.5s;
}

@keyframes fadeimage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Feedback Section */
.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  /* background: #095a55; */
}

.feed-container {
  position: relative;
  transform: translateY(20%);
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1;
  background: rgb(179, 179, 179);
}

.feed-container .contactInfo {
  position: absolute;
  width: 400px;
  height: 100%;
  background: #0b5f54;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.contactInfo .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.contactInfo .title::before {
  content: "";
  position: absolute;
  top: 125px;
  left: 50%;
  width: 200px;
  height: 3px;
  background: #0f1111;
  transform: translateX(-50%);
}
.contactInfo .title::after {
  content: "Get In Touch";
  position: absolute;
  top: 110px;
  font-size: 15px;
  left: 50%;
  color: crimson;
  padding: 5px;
  background: #0b5f54;
  transform: translateX(-50%);
}

.feed-container .contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 70px 50px;
  padding-left: 300px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  /* background: rgb(255, 0, 0); */
  /* box-shadow: 0 50px 50px rgba(0,0,0,0.25) ; */
}

.feed-container .contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

.feed-container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  outline: none;
  text-decoration: none;
}

.feed-container .contactForm .formBox .inputBox {
  position: relative;
  margin-bottom: 35px;
}

.feed-container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}

.feed-container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.feed-container .contactForm .formBox .inputBox input,
.feed-container .contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  background: rgb(179, 179, 179);
  border-bottom: 1px solid #777;
}

.feed-container .contactForm .formBox .inputBox textarea {
  height: 120px;
}

.feed-container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.feed-container .contactForm .formBox .inputBox input:focus ~ span,
.feed-container .contactForm .formBox .inputBox input:valid ~ span,
.feed-container .contactForm .formBox .inputBox textarea:focus ~ span,
.feed-container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #095a55;
  font-weight: 500;
}

.feed-container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #095a55;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

.feed-container .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #0d948b;
}

@media (max-width: 1200px) {
  .feed-container {
    margin: 20px;
    width: 90%;
    min-width: auto;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }

  .contactInfo {
    top: 0;
    position: relative;
    height: 500px;
    box-shadow: none;
  }

  .feed-container .contactForm {
    position: relative;
    width: calc(100% - 350px);
    height: 550px;
    box-shadow: none;
  }
}

/* Services */
.services {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 80px;
}

.services-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.877);
  min-width: 250px;
  padding: 20px;
  margin: 15px;
  flex-grow: 0.7;
}

.services-box i {
  color: #0b9d8a;
  font-size: 2rem;
  margin: 15px;
}

.services-box span {
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

.services-box p {
  color: #878787;
  margin: 0px;
  font-size: 0.9rem;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: rgb(187, 187, 187);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .containeer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .containeer .sec {
  margin-right: 30px;
}
footer .containeer .aboutus {
  width: 40%; /*here the width has been changed from 40 % to 100% by myself*/
}
footer .containeer .aboutus h2 {
  position: relative;
  color: rgb(56, 56, 56);
  font-weight: 500;
  margin-bottom: 15px;
}
footer .containeer .aboutus h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
footer .aboutus p {
  color: rgb(75, 74, 74);
  padding-bottom: 20px;
}
footer.containeer .payments {
  padding-top: 10px;
}
/*from this quick links part is edited*/
footer .containeer .quicklinks h2 {
  position: relative;
  color: rgb(56, 56, 56);
  font-weight: 500;
  margin-bottom: 15px;
}
footer .containeer .quicklinks h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.quicklinks ul li {
  list-style: none;
}

.quicklinks ul li a {
  position: relative;
  right: 40px;
  color: rgb(75, 74, 74);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks ul li a:hover {
  color: rgb(53, 206, 142);
  margin-left: 10px;
  transition: all 0.5s ease;
}
/* From This contactus part is edited*/

footer .containeer .contact h2 {
  position: relative;
  color: rgb(56, 56, 56);
  font-weight: 500;
  margin-bottom: 15px;
}
footer .containeer .contact h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.contact ul li {
  list-style: none;
}
.contact ul li a {
  position: relative;
  right: 40px;
  color: rgb(75, 74, 74);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.contact ul li a:hover {
  color: #fff;
}
.contact {
  width: calc(35% -60px);
  margin-right: 0 !important;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
/*these css property represents the icons in the contact class*/
.contact .info li span:nth-child(1) {
  color: rgb(53, 206, 142);
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span {
  position: relative;
  right: 40px;
  color: rgb(75, 74, 74);
  text-transform: uppercase;
}
.contact .info li a {
  position: relative;
  top: -15px;
  color: rgb(75, 74, 74);
  text-decoration: none;
}

.contact .info li a:hover {
  color: rgb(53, 206, 142);
}

.contact .info .femail {
  margin-top: -30px;
}
/*from this Aboutus link part is edited*/
.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  position: relative;
  bottom: 50px;
  display: flex;
}
.sci li a {
  list-style: none;
  margin-right: 15px;
  transform: translateY(70px);
  transition: 0.5s;
  opacity: 1;
  transition-delay: calc(0.1s * var(--i));
  color: rgb(75, 74, 74);
  font-size: 20px;
}
footer .sci li a:hover {
  color: rgb(53, 206, 142);
}
.copyrights {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}
@media (max-width: 600px) {
  footer .containeer .aboutus {
    width: 100%;
  }
}
.toggle {
  display: none;
}
@media (max-width: 1200px) {
  .search-box {
    left: -45px;
  }
}
@media (max-width: 1100px) {
  .menu {
    position: relative;
    left: -50px;
  }
  .search-box {
    left: -80px;
  }
}
@media (max-width: 1000px) {
  nav {
    width: 100%;
    height: 15vh;
  }
  .fix-nav {
    max-height: 200px;
  }
  .fix-nav .menu {
    position: relative;
    top: 30px;
  }
  .fix-nav .search-box {
    top: 15px;
    left: -60px;
  }
  .fix-nav .right-menu {
    top: 15px;
    left: 10px;
    margin: 0 20px;
  }
  .logo {
    position: fixed;
    top: 35px;
  }
  .menu li {
    margin: 0px;
    padding: 0px;
    bottom: 15px;
    left: 140px;
  }

  .navigation .menu li a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.03);
  }
  .sale-lable {
    right: 20px;
    top: -5px;
    width: 30px;
    height: 13px;
    font-size: 10px;
  }
  .search-box {
    left: -50px;
    top: -12px;
  }
  .right-menu {
    left: 35px;
    margin: 0;
    top: -12px;
  }
  .banner {
    height: 65vh;
  }
  .banner-pic {
    width: 100%;
  }
  .banner-pic img {
    left: 150px;
    width: 650px;
  }
  .banner span {
    position: relative;
    left: -100px;
    font-size: 1.2rem;
    width: 150%;
  }
  .banner strong {
    position: relative;
    font-size: 0.9rem;
    line-height: 40px;
    left: -100px;
  }
  .promotion-content {
    top: 120px;
  }
  .promotion-content h3 {
    position: relative;
    background-color: rgba(51, 51, 51, 0.8);
    right: 25px;
    font-size: 19px;
  }
  .promotion-content a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 15px;
    right: 20px;
  }
  .slider {
    width: 700px;
    height: 500px;
    right: -130px;
  }
  .slider .manual-btn,
  .navigation-auto {
    position: relative;
    right: 50px;
  }
  .apple-btn {
    position: relative;
    right: -8px;
  }
  .offer-bn {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 950px) {
  nav {
    width: 100%;
  }
  ul li a {
    font-size: 16px;
  }

  .search-box {
    right: 60px;
  }

  .section .title h2 {
    font-size: 2.3rem;
  }
  .section .title span {
    font-size: 1rem;
  }

  .apple-title h3 {
    font-size: 2.2rem;
  }
  .hot-sale span {
    font-size: 2.2rem;
  }
  .hot-sale h3 {
    font-size: 2rem;
  }
  .detail-box span {
    font-size: 1.1rem;
  }
}
@media (max-width: 900px) {
  .menu {
    position: relative;
    right: -20px;
  }
  .fix-nav .right-menu {
    left: 40px;
  }
  .slider {
    width: 600px;
    height: auto;
    right: -150px;
  }
  .slider .manual-btn,
  .navigation-auto {
    left: -100px;
  }
}
@media (max-width: 858px) {
  nav {
    position: relative;
    max-height: 100px;
  }
  .fix-nav {
    max-height: 80px;
  }
  .fix-nav .search-box {
    left: 210px;
    top: 7px;
  }
  .search-box {
    left: 195px;
  }
  .search-box.active{
    width: 270px;
    height: 50px;
    left: 220px;
  }
  .menu {
    position: absolute;
    top: 105px;
    left: 0px;
    background-color: #0f0f0f;
    border-bottom: 4px solid #0b9d8a;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }
  .menu li {
    right: -10px;
    margin: 0px;
    padding: 0px;
  }
  .fix-nav .menu {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 173px;
    bottom: 20px;
  }
  .fix-nav .logo {
    top: 15px;
  }
  .fix-nav .right-menu {
    right: 30px;
    top: 8px;
  }
  .navigation .menu li a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 25px;
  }
  .sale-lable {
    display: none;
  }
  .toggle {
    position: fixed;
    display: block;
    left: 420px;
    top: 45px;
  }
  .fix-nav .toggle {
    top: 30px;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 30px;
    font-size: 25px;
    z-index: 1;
    color: white;
    cursor: pointer;
  }
  .toggle.active:before {
    content: "\f00d";
  }
  .navigation.active .menu {
    display: block;
  }
  .banner {
    position: relative;
    left: -80px;
  }
  .banner span {
    width: 180%;
  }
  .banner strong {
    width: 100%;
  }
  .promotion-content a {
    top: -10px;
  }
  .slider {
    right: -130px;
    height: 400px;
  }
  .slider .manual-btn,
  .navigation-auto {
    top: -100px;
  }
  .apple-btn {
    right: -18px;
  }
}
@media (max-width: 810px) {
  .search-box {
    left: 175px;
  }
  .fix-nav .search-box {
    left: 185px;
  }

  .banner strong {
    width: 110%;
  }
  .promotion-content h3 {
    font-size: 15px;
  }
  .promotion-content a {
    font-size: 12px;
    top: -15px;
  }
  .slider {
    left: 110px;
  }
}
@media (max-width: 795px) {
  .banner strong {
    width: 120%;
  }
}

@media (max-width: 990px) {
  .feed-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .feed-container .contactInfo {
    height: auto;
    display: none;
  }

  .feed-container .contactForm {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -125px;
    padding-left: 300px;
  }
  .feed-container .contactForm .formBox {
    display: flex;
    width: 500px;
  }
  .feed-container .contactForm .formBox .inputBox.w100 {
    display: flex;
    justify-content: center;
  }
  .services .services-box {
    width: 100%;
  }
}

@media (max-width: 600px) {
  nav {
    position: relative;
    width: 110%;
  }
  .navigation {
    padding: 10px;
  }
  .toggle {
    left: 305px;
    top: 50px;
  }
  .logo{
    left: 30px;
  }
  .fix-nav .logo{
    left: 30px;
  }
  .fix-nav .right-menu{
    left: 10px;
  }
  .fix-nav .search-box{
    left: 120px;
  }
  .search-box {
    left: 110px;
    top: -14px;
  }
  .search-box.active{
    width: 470px;
    left: 20px;
  }
  .right-menu {
    left: 5px;
    top: -13px;
  }
  .apple-title{
    position: relative;
    left: 25px;
  }
  .slider{
    position: relative;
    left: 25px;
  }
  .apple-btn{
    left: 35px;
  }
  .offer-bn{
    width: 110%;
  }

}
